@media (orientation: landscape) {
	body {
	background-image: url('./images/not_available.png');
}
	.container {
		position: relative;
		top: -133px;
		left: 55px;
		transform: scale(0.57);
	}
  .pepper-container {
		height: 620px;
  }
	.lemon {
		clip-path: inset( 0 0 25px 10px);
	}
}